@model UnidadeModel 
<div class="text-center">
    <h1 class="display-4"> Cadastrar Unidade</h1>
</div>

<form asp-controller="Unidades" asp-action="Cadastrar" method="post">
  <div class="mb-3">
    <label for="nome" class="form-label">Nome</label>
    <input type="text" asp-for="Nome" class="form-control" placeholder="Nome">
    @Html.ValidationMessageFor(x => x.Nome)
  </div>
  <div class="mb-3">
    <label for="cidade" class="form-label">Cidade</label>
    <input type="text" asp-for="Cidade" class="form-control" placeholder="Cidade">
    @Html.ValidationMessageFor(x => x.Cidade)
  </div>
  <div class="mb-3">
    <label for="cnpj" class="form-label">CNPJ</label>
    <input type="text" asp-for="Cnpj" maxlength="14" class="form-control" placeholder="CNPJ">
    @Html.ValidationMessageFor(x => x.Cnpj)
  </div>
  <a class="btn btn-secondary btn-block" asp-controller="Unidades" asp-action="Index" role="button">Voltar</a>
  <button type="submit" class="btn btn-primary btn-block">Salvar</button> 
</form>
