@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Bem vindo ao Sistema da Empresa PGA Ltda!</h2>
    <h4 class="display-4">Trabalho de Engenharia de Software</h4>
    <p>Grupo: <a >Arthur Lucas Bosco Cunha e Castro, Gabriel Fernandes Silva Vieira, Pedro Gabriel Camargo Calisto</a>.</p>
</div>
